.qr-block {
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        width: 50%;
    }

    span {
        margin-right: 6px;
    }

    li {
        margin-bottom: 3%;
        font-family: "open sans";
        font-size: 1.5rem;
        display: flex;
        align-items: flex-start;
    }

    .QR-block {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            text-align: center;
        }

        .btn-block {
            margin-top: 6%;
            margin-bottom: 7%;
            margin-bottom: 3%;
            display: flex;
            justify-content: space-between;
        }

        .button {
            width: 43%;
            padding: .5rem;            
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                margin: 0;
            }
        }
    }
}

@media (max-width: 1060px) {
    .qr-block {
        flex-wrap: wrap-reverse;

        ul {
            width: 100%;
        }

        .QR-block {
            width: 100%;
            
        }

    }
  }

  @media (max-width: 500px) {
    .qr-block {
        flex-wrap: wrap-reverse;

        li {
            font-size: 1.2rem;
        }

        .QR-block {
            margin-bottom: 8%;

            .btn-block {
                flex-wrap: wrap;
                justify-content: center;
            }

            .button {
                width: 90%;
                font-size: .8rem;
                margin-bottom: 5%;
            }
        }

    }
  }